[log]
file = plugsink.log
level = info

[ssl]
certificate_file = /etc/ssl/certs/ca-certificates.crt

[local]
state = /home/user/Maildir/.plugsink/state.db
maildir = /home/user/Maildir
fsync = yes
buckets = no

[imap]
host = imap.example.com:993
username = user
# Leave empty to prompt for password.
# password =
idle = no
idle_timeout_minutes = 29
sync_on_idle_timeout = no

[pairing]
local = INBOX
remote = INBOX

[command]
post_sync =

# vim: ft=cfg
