[general]
restart_after_error_seconds = 600

[log]
file = plugsink.log
level = info

[ssl]
certificate_file = /etc/ssl/certs/ca-certificates.crt

[local]
state = /home/user/Maildir/.plugsink/state.db
maildir = /home/user/Maildir
fsync = yes
buckets = no
quiesce_seconds = 10

[imap]
host = imap.example.com:993
certificate_match_name = imap.example.com
username = user
# Leave empty to prompt for password.
# password =
idle = no
idle_timeout_minutes = 29
sync_on_idle_timeout = no

[pairing INBOX]
local = INBOX
remote = INBOX

[command]
post_sync_local_change =

# vim: ft=cfg
